* {
	font-family: Verdana serif;
}

body {
	border: 2px solid black;
	margin-left: 2.0rem;
	margin-right: 2.0rem;
}

#main-message{
	text-align: center;
}

#main-content {
	padding-left: 3.0rem;
	padding-right: 3.0rem;
	padding-bottom: 1.5rem;
	padding-top: 1.0rem;
}

.pre-footer-content {
	display: inline-block;
	margin-left: 15.0rem;
	color: white;
}

.pre-footer-heading {
	color: white;
	font-weight: bold;
}

#pre-footer-container {
	background-color:  #002540;
}
.remove-initial-margin {
	margin-left: 0.5rem !important;
}

.vertical-align-top {
	vertical-align: top;
}